/* style.css - This file contains the CSS styling page for this project */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ===== FONTS ==== */

.corinthia-bold {
    font-family: "Corinthia", cursive;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}


/* ===== GAME COMPONENTS ==== */

#game-frame {
    background-color: #db1d1d;
    padding: 40px 64px;
    border-radius: 16px;
    box-shadow:
        inset 4px 4px 6px rgba(255, 255, 255, 0.8),     /* top-left highlight */
        inset -4px -4px 6px rgba(0, 0, 0, 0.6);         /* bottom-right shadow */
}

header {
    text-align: center;
    align-items: center;
    margin: 0;
}

h1 {
    color: gold;
    font-size: 48px;
    margin: 0;
    text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.8);
}

.text {
    color: gold;
    text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.8);
}

#instructions {
    margin: 0;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    align-items: center;
    border: 0.5px solid gray;
    box-shadow:
        4px 4px 8px rgba(255, 255, 255, 0.4),       /* top-left shadow */
        -4px -4px 12px rgba(0, 0, 0, 0.4);          /* bottom-right highlight */
}

.grid-square {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


/* ==== CONTROLS / BUTTONS ==== */

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0 24px 0;
    padding: 0;
}

button {
    width: 64px;
    height: 64px;
    margin: 0 16px;
    background-color: #ffffff;
    color: black;
    font-size: 12px;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 50%;     /* Circle shape */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
        inset 0px 0px 4px  rgba(0, 0, 0, 0.8),      /* shadow full around */
        2px 2px 4px rgba(0, 0, 0, 0.6);             /* outer lift shadow */
    transition: all 0.2s ease-in-out;
}

button:hover {
    /* background-color: #e0e0e0; */
    box-shadow:
        inset 0px 0px 6px rgba(0, 0, 0, 0.8),
        2px 2px 4px rgba(0, 0, 0, 1);
}